:root, :host{
    --color-primary: #e42d42;
    --color-accent: #7280ed;
    --color-success: #2de473;
    --color-info: #2d9ee4;
    --color-warning: #e4732d;
    --color-error: #b52434;
    --color-muted: #7a8c97;
    --color-darker: #121217;
    --color-dark: #17171d;
    --color-black: #384046;
    --color-slate: #606e77;
    --color-silver: #7a8c97;
    --color-smoke: #dde1e4;
    --color-snow: #f9f9fa;
    --color-white: #ffffff;
    --color-base: #2d9ce4;
}