/* CORE */
html{
    font-family: 'Source Sans Pro';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro';
}

body{
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column
}


.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: sticky; 
    margin: 0;
    background-color: #16b1a9;
    width: 100%;
    padding: 16px;
    font-family: 'Source Sans Pro';
    font-size: 16;
    top: 0; 
    box-sizing: border-box;
    justify-content: space-between;
}

.header *{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
}


.mylogo{
    display: block;
    align-self: auto;
    margin-left: auto;
    margin-right: 900px;
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

.txt{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
    margin-left: auto;
    margin-right: auto;
    width:4em; 
    font-weight: bolder; 

}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}
td {
    border: 1px black solid;
    padding: 5px;
}
 
footer{
    width: 100%;
    display: flex; 
    justify-content: center;
    padding: 16px;
    bottom: 0;
    box-sizing: border-box
}
footer *{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: space-between
}
