:root{

}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background: #dde1e4;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    position: sticky;
    top: 0;
}
nav img{
    height: 2em;
    margin-right: 0.5ch;
    display: inline-block;
    float: left;
}

nav,
section,
footer{
    padding: 8px 16px;
}
section>*, 
footer>*{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
section>h1{
    font-weight: 900;
    font-size: 2.3rem;
}
footer{
    text-align: center;
}
#carrousel-section{
    overflow-x: auto;
    overflow-y: hidden;
    background: #dde1e4;
    padding: 16px;
}
#carrousel-section>*{
    max-width: 100%;
}

#activities-section>alt-bits-participation:hover{
    border-radius: 8px;
    background: whitesmoke;
}