@import url(../../base.css);

:host{
    display: flex;
    padding: 10px 4px;
    border-bottom: 0.5px solid rgb(240,240,240);
    cursor: default;
}
:host:last-child{
    border-bottom: none;
}

:host>.date{
    flex-basis: 85px;
    flex-shrink: 0;
    color: #7a8c97;
}

:host>.description{
    flex: 1;
    font-weight: 600;
}

:host>.weight{
    font-weight: 600;
    color: #7280ed;
}