@import url(../../base.css);

:host{
    width: 600px;
    max-width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

:host>header{
    padding: 16px 8px;
    display: grid;
    align-items: center;
    column-gap: 16px;
    grid-template-areas: 
        "img title title"
        "img subtitle trail"
    ;
    grid-template-columns: auto 1fr;
    background: var(--color-snow);
}
    :host>header>img{
        height: 80px;
        width: 80px;
        background-color: white;
        grid-area: img;
        border-radius: 100%;
    }
    :host>header>.name{
        margin: 0;
        font-size: 1.5rem;
        grid-area: title;
    }
    :host>header>.memberID{
        margin: 0;
        grid-area: subtitle;
        color: var(--color-slate);
        font-size: 1.2rem;
    }
    :host>header>.total{
        grid-area: trail;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--color-accent)
    }

:host>section{
    padding: 8px;
}
    :host>section>h1:first-of-type{
        margin-top: 0;
    }
    